# Игнорировать папку bin
bin/
testdata/

# Дополнительные стандартные исключения для Go
*.exe
*.exe~
*.dll
*.so
*.dylib

# Игнорируемые файлы для тестов
*.test

# Игнорируемые файлы для сборки
*.out

# Игнорировать папку с IDE
.idea/
.vscode/